
@charset "UTF-8";
/*RESET*/
html {
  height: 100%;
  overflow-x: hidden; 
}

body {
  margin: 0;
  background-color: black;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 11pt; 
}

iframe {
    border: none;
}

.logo {
    width: 200px;
}

.full-container {
    background-color: silver;
    width: 100%;
    padding-top:66px;
    text-align: center;
}

.dash-iframe {
    border: none;
    background-color: red;
    width: 100%;
    height: 100%;
    background-color: #DAEAED;
}

.header {
    position: fixed;
    width: 100%;
}
